.searchimage {
  

    &__img {
        width: auto;
        height: auto;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }

    &__title {
        margin-bottom: 20px;
        font-size: 25px;
        text-decoration: underline;
        font-style: italic;
        display: block;
    }

    &__desc {
        margin-bottom: 15px;
        font-size: 15px;
        padding: 10px;
        margin-left: 15px;
        margin-right: 15px;
        display: block;
    }
}