.header {
  display: flex;
  flex-direction: row;
  width: 100vw;

  &__logo-container {
      padding: 10px;
  }

  &__logo {
      width: 160px;
  }

  &__change {
      a {
      color: #fff;
  }
}

  &__options {
     margin-left: auto;
     margin-top: 15px;
     text-decoration: none;
     color: black;
     font-size: 20px;
     text-decoration: underline;
  }


  &__myimages {
      padding: 15px;
  }

  &__signin {
      padding: 15px;
  }

  &__signout {
      padding: 15px;
  }

  &__myimages, &__signin, &__signout {
      a {
          color: #111111;
      }
  }
}
